@model IEnumerable<WebApplication1.Models.Client>
@using GridMvc.Html



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Grid.MVC</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.Id).Titled("Client ID");
       columns.Add(c => c.Name).Titled("Name").Filterable(true);
       columns.Add(c => c.Email).Titled("Email");
   }).WithPaging(3).Sortable(true)
    </div>
    <div class="col-md-4">
        <input type="text" id="txtReason" value="" />
        <input type="text" id="txtPerson" value="" />
        <input type="submit" class="btn btn-info" id="btnSaveAll"  value="SaveAll"/>
    </div>
</body>
</html>
<script>
    $('#btnSaveAll').click(function () {
        debugger;
        var reasons = new Array();
        var reason = {};
        reason.Reason = $('#txtReason').val();
        reason.PercentageValue = $('#txtPerson').val();

        reasons.push(reason);

        var datasubmitted = JSON.stringify(reasons);
        $.ajax({
            url: '@Url.Action("SaveAll","Home")',
            type: "POST",
            datatype: "json",
            data: { request: datasubmitted },
            success: function (data) {
                alert(data)
            }
        });

    })
</script>